@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('Art.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.judul {
    background-color: grey;
    margin-top: 8%;
    margin-right: 600px;
    margin-left: 500px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 35%;
}

.peggy {
    display: flex;
    margin-right: 2%;
    width: 65%;
    justify-content: center;
    align-items: center;
    margin-right: 135px;
}

.music {
    margin-left: -120px;
}

.kotak {
    background-color: grey;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 4%;
    padding-bottom: 5%;
}

.judul1 {
    color: #fff;
    text-align: center;
    padding-top: 5%;
}

.judul2 {
    color: #fff;
    text-align: center;
    padding-top: 10%;
}

.paragraf {
    font-size: 25px;
    margin-top: 5%;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 4%;
    margin-right: 4%;
}

.gambarmusic {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}